footer.footer
    .wrapper
        .footer__content
            .footer__left
                .footer__blockitem
                    .footer__img
                        img(src="./images/mail.png", alt="")
                    .footer__links
                        a(href="#") sales@metricon.org
                        a(href="#") info@metricon.org

                .footer__blockitem
                    .footer__img.footer__img_skype
                        img(src="./images/skype.png", alt="")
                    .footer__links.footer__links_pad
                        a(href="#") metric.on
                        a(href="#") incomprehensible mail
                
            .footer__right
                span © 2015 METRICON. Privacy policy
                        
                    