extends ../template

block varibles
    - var title = "title"

block content
   
    .content
        include ../common/header.pug

        section.sect1
            .sect1__content
                .sect1__slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide(style="background-image: url(./images/slide1.png)")
                                .swiper-slide__content
                                    .swiper-slide__title
                                        h1 LTD Metricon
                                    .swiper-slide__desc
                                        p - experienced marketing<br> and promoting online projects<br> and products company
                                    .swiper-slide__button
                                        button.button.button_gray Read more

                            .swiper-slide(style="background-image: url(./images/slide2.png)")
                                .swiper-slide__content.swiper-slide__content_pad
                                    .swiper-slide__desc
                                        p Мы предоставляем посетителей,<br> заинтересованных в Ваших предложениях. 
                                    .swiper-slide__button
                                        button.button.button_gray Read more

                            .swiper-slide(style="background-image: url(./images/slide3.png)")
                                .swiper-slide__content.swiper-slide__content_pad
                                    .swiper-slide__desc
                                        p Только высококачественный трафик! 
                                    .swiper-slide__button
                                        button.button.button_gray Read more
                                

                    .swiper-button-prev
                        svg
                            use(xlink:href="./images/sprite/sprite.svg#ar_l")
                    .swiper-button-next
                        svg
                            use(xlink:href="./images/sprite/sprite.svg#ar_r")

                    
                    .swiper-pagination
                                
        
        section.sect2
            .wrapper
                .sect2__content
                    .sect2__blockitem.wow.fadeInLeft
                        .sect2__icn
                            img(src="./images/icn1.png", alt="")
                        .sect2__title
                            span РЕКЛАМОДАТЕЛЯМ
                        .sect2__desc
                            p Вы исчерпали свои потенциалы классического рекламного инструментария, однако не получили достаточного удовлетворения своих амбиций? Вы стремитесь к тому, чтоб Вашими товарами и услугами было заинтересовано как можно больше потребителей? LTD Metricon - поможет Вам достигнуть все поставленные цели в кротчайшие сроки.
                        .sect2__button
                            button.button Read more 

                    .sect2__blockitem.wow.fadeInUpBig
                        .sect2__icn.sect2__icn_2
                            img(src="./images/icn2.png", alt="")
                        .sect2__title
                            span ВЕБМАСТЕРАМ
                        .sect2__desc
                            p Устали от сомнительных предложений Ваших рекламных брокеров? Агрессивная реклама доставляет дискомфорт Вашим посетителям? LTD Metricon - команда профессионалов, которая предоставит Вам эффективные рекламные форматы с лучшими рекламодателями по самым выгодным для Вас условиям!
                        .sect2__button
                            button.button Read more 

                    .sect2__blockitem.wow.fadeInRight
                        .sect2__icn
                            img(src="./images/icn3.png", alt="")
                        .sect2__title
                            span ПАРТНЕРАМ
                        .sect2__desc
                            p LTD Metricon - Команда профессионалов, направляющая свои знания и навыки для получения требуемого результата. Основная цель нашей компании - создание высокодоходных бизнес-процессов, благодаря которым мы добиваемся развития двустороннего партнерства, показывающего желанные результаты для каждого потребителя услуг.
                        .sect2__button
                            button.button Read more

        section.sect3
            .wrapper
                .sect3__content
                    .sect3__blockitem
                        .sect3__img.wow.fadeInLeft
                            img(src="./images/sect3_1.png", alt="")
                        .sect3__title.wow.fadeInUpBig
                            .title
                                h2 ВЕБМАСТЕРАМ
                        .sect3__subtitle.wow.fadeInUpBig
                            .subtitle
                                h3 ЛУЧШИЕ РЕКЛАМНЫЕ ФОРМАТЫ
                        .sect3__desc.wow.fadeInUpBig
                            .desc
                                p На рынке встречаются рекламные сети, которые не в состоянии со старта дать объективную оценку Вашему проекту, в результате чего Ваши возможные доходы прогнозируются не совсем корректно, однако обещания, не всегда соответствуют Вашим ожиданиям. 
                                p В те моменты, когда Ваши рекламные брокеры стараются найти собственную выгоду, мы делаем все возможное, чтоб в первую очередь предоставить выгодные условия Вам! Мы заинтересованы в сотрудничестве с площадками различных тематик, для каждой из которых готовы предложить индивидуальные условия. Тарификация происходит в режиме реального времени, стабильность выплат приятно удивит каждого нового партнера. 
                                p Начинайте зарабатывать с LTD Metricon, который предоставит Вам не только качественные рекламные материалы, но и надежного партнера на долгосрочный период. 

                    .sect3__blockitem
                        .sect3__img.wow.fadeInRight
                            img(src="./images/sect3_2.png", alt="")
                        .sect3__title.wow.fadeInUpBig
                            .title
                                h2 РЕКЛАМОДАТЕЛЯМ
                        .sect3__subtitle.wow.fadeInUpBig
                            .subtitle
                                h3 ТОЛЬКО КАЧЕСТВЕННЫЙ ТРАФИК
                        .sect3__desc.wow.fadeInUpBig
                            .desc
                                p Рынок нашего времени предлогает рекламодателям различные товары и услуги. Независимо от бюджета каждого рекламодателя, мы с радостью обсудим все возможные условия предстоящего сотрудничества и подберем именно то, которое в первую очередь окажется взаимовыгодной и будет показывать желанные результаты.
                                p Наша команда поможет Вам создать высокоэффективные компании, благодаря которым Ваши проекты будет посещать исключительно целевая аудитория. У нас нет цели просто заработать, наша главная задача заключается в том, чтоб сделать необходимый взнос, благодаря которому Ваши интересы будут достигнуты! Вам не только качественные рекламные материалы, но и надежного партнера на долгосрочный период. 


        section.sect4
            .wrapper
                .sect4__content
                    .sect4__blockitem.wow.fadeIn(data-wow-duration="2s")
                        .sect4__title
                            .title
                                h2 ПАРТНЕРАМ
                        .sect4__subtitle
                            .subtitle
                                h3 ВЫСОКОДОХОДНЫЕ БИЗНЕС-ПРОЦЕССЫ
                        .sect4__desc
                            .desc
                                p Наш охват составляет более 10 000 000 уникальных посетителей в месяц, ежесуточно наши пользователи совершают более 10 000 эффективных действий и продаж. Для наших партнеров предоставляются различные условия тарификации, которые в первую очередь ориентируются на результат. Мы предоставляем топовые площадки различных тематик, удобную и информативную платформу учета и аналитики. Пишите нам и мы более чем уверены, что благодаря усилиям двух сторон, мы с легкостью сможем найти решения для задач любой сложности. 


        section.sect5
            .wrapper
                .sect5__content
                    .sect5__blockitem 
                        .sect5__title
                            .title
                                h2 LTD METRICON
                        .sect5__subtitle
                            .subtitle
                                h3 О НАС
                        .sect5__desc
                            .desc
                                p LTD Metricon - предоставляет услуги на базе двух крупнейших платформ российского рынка. Каждая из них закрепила свою репутацию как стабильный и надежный партнер, показывающий максимально эффективные результаты в работе с площадками различных тематик, благодаря чему достигаются невероятные отметки в развитии игрового и товарного маркетинга.


        section.sect6
            .wrapper
                .sect6__content
                    .sect6__blockitem.wow.rotateInDownLeft
                        .sect6__logo.sect6__logo_1
                            img(src="./images/logo1.png", alt="")  
                        .sect6__desc
                            p Рекламная сеть adforce.ru специализируется на выкупе баннерной рекламы. Данная платформа охватывает аудиторию различной возрастной категории и способна предоставить каждому посетителю максимально подходящую промо-страницу. Под каждую промо-страницу в индивидуальном порядке разрабатывается тематический баннер, способный с первых секунд передать всю суть предлагаемого продукта, благодаря чему партнер получает заинтересованного покупателя, совершившего целенаправленный клик, с целью реализации дальнейшего действия.
                            p Флеш баннера изготовляются в различных размерах, что позволяет сотрудничать со всеми проектами, занимая практически любое рекламной место, независимо от дизайна. Таким образом данная платформа способна охватывать максимум аудитории российского рынка, которая в итоге становится активными игроками или же покупателями. 

                    .sect6__blockitem.wow.rotateInDownRight
                        .sect6__logo.sect6__logo_2
                            img(src="./images/logo2.png", alt="")  
                        .sect6__desc
                            p Рекламная сеть utarget.ru - является мультиформатной рекламной платформой, предоставляющая трафик высокого качества. Благодаря технологиям узкого таргетинга, партнеры получают не просто рекламную единицу, а заинтересованных покупателей, готовых совершать действия на сайте рекламодателя.
                            p Профильным форматом рекламной сети является Click Under - фоновое окно промо-страницы рекламодателя, открывающееся при клике в любом месте сайта-источника.


        include ../common/footer.pug